.App {
  background-image: linear-gradient(to right top, #5574f7, #4086fd, #3196ff, #31a4ff, #42b2ff, #46b3ff, #4ab5ff, #4eb6ff, #46abff, #45a0ff, #4c94fd, #5887f9);
  /* height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  color: white; */
  text-align: center;
  font-family: 'Concert One', cursive;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: inline-block;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
.link{
  text-decoration: none;
  color: #8197AD;
}
.link:hover{
  color: #FFFFE0;
}

.LWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  margin-top: 100px;

}

.Login{
color: white;
border: 1px solid rgba(255, 255,255, .5);
min-width: 70%;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
border-radius:  20px;
background-image: linear-gradient(to right top, #5574f7, #4086fd, #3196ff, #31a4ff, #42b2ff, #46b3ff, #4ab5ff, #4eb6ff, #46abff, #45a0ff, #4c94fd, #5887f9);
}

.h1Login{
   color: white; 

}

.loginInput{
  /* border-radius: 20px; */
  height: 60px;
  width: 50%;
  margin-top: 8%;

  font-size: 1.2rem;
  text-align: center;
  outline: none;
border: none transparent;
border-color: transparent;
background: transparent;
border-bottom: 1px solid rgba(255, 255,255, .5);
color: white;
font-family: 'Concert One', cursive;
}

::placeholder{
  color:  rgba(255, 255,255, .5);
}

.loginInputC{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
justify-content: center;
align-items: center;
align-content: center;

}

.loginInput:hover{
  color:  rgba(255, 255,255, .5);
}

textarea:focus, .loginInput:focus{
outline: none;
color:  rgba(255, 255,255, .5);
}

.signupB{
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 30px;
  height: 60px;
  width: 50%;
  color: #5887F9;
  border: 1px solid rgba(255, 255,255, .5);
  border-radius: 10px;
  font-weight: 900;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.loginText{
  color:    rgba(255, 255,255, .5);
}
.signupB:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
}

.registerLink{
  color: white;
  text-decoration: none;
}

.registerLink:hover {
color:  rgba(255, 255,255, .5);
}

.cardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-top: 20px;

/* border: 1px solid red; */
}



.card {
/* 
border: 1px solid red; */

  border-radius: 5%;
  display: flex;
  min-height: 400px;
  margin: 1rem;
  padding: 1rem;
 width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}



 .header{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
 margin: 10%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.Question{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.headerQDetails{
  display: flex;
  flex-direction: column;
}

.addAnswer{
  margin-top: 20px;
}

.answer-title{
  margin-top: 20%;
  border: 1px solid black;
  width: 90%;
  margin: 0 auto;
  margin-top: 20%;
}